<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png", id: "logo"%>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "Host", "", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Trips", "", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Messages", "", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Meet the team", "about.html", class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/guillaumeh95", id: "navbar-wagon-menu", class:"avatar dropdown-toggle", data: {toggle: "dropdown"}%>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
